<div class="missao-visao-valores">

	<div class="caixa" id="missao">
		<h4>Missão</h4>
		<p>Desenvolver e facilitar parcerias e patrocínios entre o segundo e o terceiro setor, potencializando seu impacto através de uma plataforma online</br></br></p>
	</div>

	<div class="linha-sobre_nos"></div>

	<div class="caixa" id="visão">
		<h4>Visão</h4>
		<p>Tornar-se a maiar plataforma de patrocínios e parcerias entre empresas e ONGs no Brasil, facilitando as intermediações com qualidade, segurança e transparencia.</p>
	</div>

	<div class="linha-sobre_nos"></div>

	<div class="caixa" id="valores">
		<h4>Valores</h4>
		 <p>
		    </br>
			Credibilidade</br>
			Transparencia</br>
	        Cooperação</br>
	        Integração</br>
	        </br>
	     </p>
	</div>

</div>

<div class="obrigado-contato">
	<h3>Obrigado por nos contatar!</h3>
	<h5>Já estamos olhando seu email e responderemos em breve!</h5>
</div>

<div class="effect2">
</div>