
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

    <div class="item active">
      <img src="http://www.pomona.edu/timeline/sites/timeline.pomona.edu/files/images/2000s/2008/2008-stanley-quad.jpg" alt="pomona" style="width: 100%; height: 500px">
      <div class="carousel-caption">
        <h3>First Slide!</h3>
        <p>Just starting it</p>
      </div>
    </div>

    <div class="item">
      <img src="http://stanford.edu/about/images/intro_about.jpg" alt="stanford" style="width: 100%; height: 500px">
      <div class="carousel-caption">
        <h3>Second Slider!</h3>
        <p>Already here!</p>
      </div>
    </div>

    <div class="item">
      <img src="http://static1.squarespace.com/static/5457f2ece4b0a485997c0d67/t/54596928e4b0e5667b95bbd8/1415145778564/10548065_10152868608910320_4786775319118712678_o.jpg?format=1500w" alt="yale" style="width: 100%; height: 500px">
      <div class="carousel-caption">
        <h3>Third Slider!</h3>
        <p>And... it is finished!</p>
      </div>
    </div>
    
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>


<div class="abas">
 
    <div id="ong" class="ong">
        
    </div>
    
    <div id="emp" class="emp">
    
    </div>
    
 </div>


